body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-color:#1f2937;
    font-family: 'Brush Script MT', cursive;
}


div.header p{
    color:orange;
    font-size: 56px ;
    margin: 10px;
    text-align: center;
}

.footer{
    margin-top: 30px;
}
div.footer p {
    color:orange;
    font-size: 20px ;
    text-align: center;
}

p.winningCondition{
    color: antiquewhite;
    font-size: 30px ;
    text-align: center;
    margin: 0 10px;
} 

p.uiId{
    color: orange;
    font-size: 30px ;
    text-align: center;
    margin-bottom: 10px;
} 


div.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

div.allScores{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.playerScoreBlock{
    width: 100px;
    height:100px;
    background-color: antiquewhite;
    border-radius: 16px;
    border: 4px solid orange;
}

.botScoreBlock{
    width: 100px;
    height:100px;
    background-color: antiquewhite;
    border-radius: 16px;
    border: 4px solid orange;
}

.selectWeapon{
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

.rpsButtons{
    flex: 1 1 auto;
    width: 33%;
    height:100px;
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
    font-size: larger;
    border-radius: 32px;
    margin: 0 10px;    
    border: 4px solid orange;
}

div.resultsBlock{
    height: 100px;
    width: 300px;
    background-color: antiquewhite;
    border: 4px solid orange;
    border-radius: 16px;
}

.playerScore{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 10px;
}

.botScore{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px 0 0;
}